@charset "utf-8";

/* CIS 181 Group project for marathon training website
Author: Martina Darcheville
Date: 5-01-2025
File: marathon_styles.css
*/

body {
	font-family: 'Verdana', sans-serif;
}