/* Table Styles */

table.menu {
	background: white;
	border: 10px outset rgb(107,142,35);
	border-collapse: collapse
	font-size: 0.75em;
	width: 100%;
}

/* Table cell styles */

table.menu th, table.menu td {
	border: 1px solid gray
}

table.menu caption {
	caption-side: bottom;
	text-align: left;
}